# Multivariate linear regression
using python package statsmodels

In [1]:
import statsmodels.api as sm
import pandas as pd

Preparing Your Data: Make sure your data is in a suitable format. Typically, you'll have a pandas DataFrame with one column as the dependent variable (the outcome you're interested in predicting) and the other columns as independent variables (the predictors).

In [23]:
DATA_FOLDER = "../data/final/"
ihd_df = pd.read_csv(DATA_FOLDER + "gbd_IschemicHeartDisease_DeathsIncidence.csv")
ihd_df.rename(columns={'year': 'Year'}, inplace=True)
ihd_df = ihd_df[ihd_df['measure_name'] == 'Incidence']
ihd_df = ihd_df[ihd_df["location_name"] == "Germany"].copy()
ihd_df.head()

,measure_name,location_name,cause_name,Year,Value,upper,lower
7984,Incidence,Germany,Ischemic heart disease,1990,770.782550,830.581487,715.950617
7985,Incidence,Germany,Ischemic heart disease,1991,766.235116,822.822332,713.701355
7986,Incidence,Germany,Ischemic heart disease,1992,757.466390,811.731442,706.520709
7987,Incidence,Germany,Ischemic heart disease,1993,746.615774,797.680308,697.650558
7988,Incidence,Germany,Ischemic heart disease,1994,738.484981,789.628450,689.209094

In [22]:
fat_df = pd.read_csv(DATA_FOLDER + "daily_per_capita_fat_supply_final.csv")
fat_df = fat_df[fat_df["Country Name"] == "Germany"].copy()
fat_df.head()

,Country Name,Country Code,Series Name,Year,Value
4263,Germany,DEU,Fat consumption per day per capita (grams),1961,113.313324
4264,Germany,DEU,Fat consumption per day per capita (grams),1962,117.463394
4265,Germany,DEU,Fat consumption per day per capita (grams),1963,116.231660
4266,Germany,DEU,Fat consumption per day per capita (grams),1964,118.172020
4267,Germany,DEU,Fat consumption per day per capita (grams),1965,120.793110

In [37]:
# alcohol_df = pd.read_csv(DATA_FOLDER + "wdi_AlcoholConsumption.csv")
# alcohol_df = alcohol_df[alcohol_df["Country Name"] == "Germany"].copy()
# alcohol_df.head()
alcohol_df = pd.read_csv("../data/raw/alcohol_germany.csv")
alcohol_df = alcohol_df[alcohol_df["LOCATION"] == "DEU"].copy()
alcohol_df.head()

    LOCATION INDICATOR SUBJECT   MEASURE FREQUENCY  TIME  Value Flag Codes
454      DEU   ALCOHOL     TOT  LT_CAP15         A  1961   11.0        NaN
455      DEU   ALCOHOL     TOT  LT_CAP15         A  1962   12.1        NaN
456      DEU   ALCOHOL     TOT  LT_CAP15         A  1963   12.9        NaN
457      DEU   ALCOHOL     TOT  LT_CAP15         A  1964   13.7        NaN
458      DEU   ALCOHOL     TOT  LT_CAP15         A  1965   14.0        NaN

In [45]:
# smoking_df = pd.read_csv(DATA_FOLDER + "share-of-adults-who-smoke.csv")
# smoking_df = smoking_df[smoking_df["Entity"] == "Germany"].copy()
# smoking_df.head()
smoking_df = pd.read_csv("../data/raw/smoking_germany.csv")
smoking_df = smoking_df[smoking_df["LOCATION"] == "DEU"].copy()
smoking_df.head()

    LOCATION INDICATOR SUBJECT   MEASURE FREQUENCY  TIME  Value Flag Codes
207      DEU   SMOKERS     TOT  PC_POP15         A  1978   28.5        NaN
208      DEU   SMOKERS     TOT  PC_POP15         A  1989   25.1        NaN
209      DEU   SMOKERS     TOT  PC_POP15         A  1992   24.8          B
210      DEU   SMOKERS     TOT  PC_POP15         A  1995   24.3        NaN
211      DEU   SMOKERS     TOT  PC_POP15         A  1999   24.7        NaN

In [46]:
combined_df = ihd_df[['Value', 'Year']].copy()
combined_df.rename(columns={"Value":"IHD_incidence"}, inplace=True)

fat_df_renamed = fat_df.rename(columns={'Value': 'fat_consumption'})
combined_df = combined_df.merge(fat_df_renamed[['fat_consumption', 'Year']], on='Year', how='left')

alcohol_df_renamed = alcohol_df.rename(columns={'Value': 'alcohol_consumption', "TIME": "Year"})
combined_df = combined_df.merge(alcohol_df_renamed[['alcohol_consumption', 'Year']], on='Year', how='left').dropna()

alcohol_df_renamed = alcohol_df.rename(columns={'Value': 'daily_smokers', "TIME": "Year"})
combined_df = combined_df.merge(alcohol_df_renamed[['daily_smokers', 'Year']], on='Year', how='left').dropna()

combined_df.drop(columns=['Year'], inplace=True)
# combined_df.reset_index(drop=True, inplace=True)
combined_df

    IHD_incidence  fat_consumption  alcohol_consumption  daily_smokers
0      770.782550        142.51752                 14.9           14.9
1      766.235116        143.16267                 13.9           13.9
2      757.466390        148.68661                 13.8           13.8
3      746.615774        140.65509                 13.5           13.5
4      738.484981        141.04372                 13.4           13.4
5      729.925213        141.60830                 13.4           13.4
6      711.961594        148.14981                 13.1           13.1
7      683.596598        146.78265                 13.0           13.0
8      652.358799        147.06120                 12.7           12.7
9      627.604773        144.04678                 12.8           12.8
10     613.086092        146.23259                 12.9           12.9
11     605.946234        140.60968                 12.5           12.5
12     600.266775        142.86680                 12.3           12.3
13     596.044489        143.36705                 11.9           11.9
14     595.140174        142.98352                 11.8           11.8
15     592.528672        143.44957                 11.7           11.7
16     582.727321        145.16150                 11.8           11.8
17     566.971220        150.30743                 11.5           11.5
18     550.634544        147.94710                 11.4           11.4
19     540.470963        146.18845                 11.2           11.2
20     538.497173        147.04686                 11.6           11.6
21     540.215046        148.23813                 11.3           11.3
22     543.266988        146.51980                 11.3           11.3
23     546.657363        143.65710                 11.1           11.1
24     551.331654        141.50972                 11.1           11.1
25     553.475567        143.21878                 11.1           11.1
26     550.619280        144.86778                 11.0           11.0
27     546.245318        146.25950                 10.9           10.9
28     543.022394        151.74495                 10.9           10.9
29     540.238197        165.25995                 10.6           10.6

Fitting the Model:

In [51]:
# Assuming 'df' is your DataFrame and 'y' is the dependent variable
X = combined_df.drop('IHD_incidence', axis=1)  # Independent variables
y = combined_df['IHD_incidence']  # Dependent variable

# Add a constant to the model (intercept)
X = sm.add_constant(X)

# Fit the model
model = sm.OLS(y, X).fit()

In [52]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          IHD_incidence   R-squared:                       0.911
Model:                            OLS   Adj. R-squared:                  0.905
Method:                 Least Squares   F-statistic:                     138.5
Date:                Wed, 17 Jan 2024   Prob (F-statistic):           6.39e-15
Time:                        15:18:16   Log-Likelihood:                -137.73
No. Observations:                  30   AIC:                             281.5
Df Residuals:                      27   BIC:                             285.7
Df Model:                           2
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                -390.9167    187.049     -2.090      0.046    -774.709      -7.125
fat_consumption         0.9456      1.084      0.872      0.391      -1.279       3.170
alcohol_consumption    35.7803      2.291     15.619      0.000      31.080      40.481
daily_smokers          35.7803      2.291     15.619      0.000      31.080      40.481
==============================================================================
Omnibus:                        1.693   Durbin-Watson:                   0.626
Prob(Omnibus):                  0.429   Jarque-Bera (JB):                1.542
Skew:                          -0.505   Prob(JB):                        0.463
Kurtosis:                       2.537   Cond. No.                     8.13e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.78e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.