In [5]:
import pandas as pd
from csv_data_manipulation import melt_all_year_cols_into_one

In [6]:
INPUT_FILE = "../data/raw/wdi_tobaccoalcohol_population.csv"
OUTPUT_FILE = "../data/final/wdi_AlcoholConsumption.csv"

In [7]:
melted_df = melt_all_year_cols_into_one(
    input_file = INPUT_FILE, 
    output_file = OUTPUT_FILE,
    replace_dots = True,
    remove_nan = True,
    one_series = ("Series Name", "Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)"),
    remove_cols = ["Series Code"])
melted_df

Loading ../data/raw/wdi_tobaccoalcohol_population.csv
Removing cols ['Series Code']
Leaving only 'Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)' in 'Series Name'
DataFrame saved to ../data/final/wdi_AlcoholConsumption.csv

,Country Name,Country Code,Series Name,Year,Value
2170,Afghanistan,AFG,Total alcohol consumption per capita (liters o...,2000,0.00277
2171,Albania,ALB,Total alcohol consumption per capita (liters o...,2000,4.43100
2172,Algeria,DZA,Total alcohol consumption per capita (liters o...,2000,0.30323
2174,Andorra,AND,Total alcohol consumption per capita (liters o...,2000,12.54881
2175,Angola,AGO,Total alcohol consumption per capita (liters o...,2000,5.18632
...,...,...,...,...,...
6503,"Venezuela, RB",VEN,Total alcohol consumption per capita (liters o...,2019,3.01625
6504,Viet Nam,VNM,Total alcohol consumption per capita (liters o...,2019,9.33984
6507,"Yemen, Rep.",YEM,Total alcohol consumption per capita (liters o...,2019,0.02778
6508,Zambia,ZMB,Total alcohol consumption per capita (liters o...,2019,3.85176
6509,Zimbabwe,ZWE,Total alcohol consumption per capita (liters o...,2019,3.62809